<%if flash[:notice]%>
  <%style='color:green'%>
  <%= flash[:notice] %>
<%end%>

<h2>Hello, <%= @user.first_name %>!</h2>
<p>Welcome back to your profile</p>

<div>
<% if @user.avatar.attached? %>
  <image src='<%=(url_for(@user.avatar))%>', height='140'>
<%end%>
</div><br>

<h6> My Hosted Events </h6>
<% find_hosted_events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
<% end %>
<br>
<h6> Events I'm Attending </h6>
<% find_attended_events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
<% end %>

<br>
<%= link_to "Browse Events", '/events' %>
<br>
<%= link_to "Edit Profile", 'profile/edit' %>
<br>
<div class='button'>
  <%= link_to 'Create Event', new_event_path %>
</div>
<div class='button'>
  <%= link_to 'Logout', logout_path, method: 'DELETE' %>
</div>
