<%if flash[:notice]%>
  <%style='color:green'%>
  <%= flash[:notice] %>
<%end%>

<h1>Hello, <%= @user.first_name %> <%= @user.last_name %>! This is your show page.</h1>

<% if @user.avatar.attached? %>
  <image src='<%=(url_for(@user.avatar))%>'>
<%end%>

<h3> My Hosted Events </h3>
<% find_hosted_events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
<% end %>

<h3> Events I'm Attending </h3>
<% find_attended_events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
<% end %>

<br>
<%= link_to "Browse Events", '/events' %>
<br>
<%= link_to "Edit Profile", 'profile/edit' %>
<br>
<div class='button'>
  <%= link_to 'Create Event', new_event_path %>
</div>
<div class='button'>
  <%= link_to 'Logout', logout_path, method: 'DELETE' %>
</div>
