<!-- <img src="https://www.heritageschoolofinteriordesign.com/main/wp-content/uploads/2018/05/103845788-_sites-default-files-images-103845788-GettyImages-155735310.1910x1000.jpg" alt="Seattle Skyline"/>
<%= image_tag("seattle.jpg", :alt => "seattle") %> -->

<header>
  <div class="overlay"></div>
  <img src="https://www.heritageschoolofinteriordesign.com/main/wp-content/uploads/2018/05/103845788-_sites-default-files-images-103845788-GettyImages-155735310.1910x1000.jpg" alt="Seattle Skyline"/>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">hey.></h1>
        <p class="lead mb-0">this is seattle.</p>
      </div>
    </div>
  </div>
</header>

<br>

<div class="title">
  <h1>Events in <%= @city.name %></h1>
</div>

<div class="sub_title">
<% if @events != nil %>
  <% @events.each do |event|%>
    <li>
      <%=link_to event.name, event%>
      (<%=event.date.strftime('%B %d, %Y')%> at <%=event.time.strftime('%I:%M %p')%>)
    </li>
  <%end%>
<%else %>
  <p> <%= @message %> </p>
<%end%>
</div>


<br>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
  <a class="navbar-brand" href="/"><img src="https://i.ibb.co/2sJQTNR/Logo-Makr-39-Xboe.png" alt="Logo-Makr-39-Xboe" border="0" height="40"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/profile">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/events">Events</a>
    </li>
  </ul>
  <div style="padding-left: 950px;">
    <a class="button" href="/events/new" role="button">
    Host New Event
    </a>
  </div>
</nav>

<div class="container-fluid"><br>
  </div>
<br>
<br>
<br>
<br>
