<h1>Create an Event!</h1>

<%= form_for @event do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :date%>
  <%= f.date_select(:date)%>
  <%= f.label :time%>
  <%= f.time_select(:time)%>
  <%= f.label :address%>
  <%= f.text_field :address%>
  <%= f.label "City"%>
  <%= f.collection_select :city_id, City.all, :id, :name%>
  <%= f.label :description%>
  <%= f.text_area :description%>
  <%= f.label "Event Photo" %>
  <%= f.file_field :avatar %>

  <%= f.hidden_field :host_id, :value => @current_user.id %>


  <%=f.submit%>
<%end%>
