<!DOCTYPE html>
<html>
  <head>
    <title>Module2FinalProject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <nav class="navbar navbar-dark bg-dark">
            <!-- "navbar navbar-dark bg-dark" option for class -->
            <!-- "navbar navbar-light bg-light" option for class -->
            <!-- "navbar navbar-light" style="background-color: #e3f2fd;" -->

      <a class="navbar-brand" href="/">
        <img src="https://i.ibb.co/gvJN3Rz/Logo-Makr-6-Nnh-BW.png" alt="Logo-Makr-6-Nnh-BW" border="0" height="50">
      </a>
      <form class="form-inline">
      <div style="padding-left: 10px;">
        <a class="button" href="/logout" data-method="delete" role="button">
        Logout
        </a>
      </div>
      </form>
      </nav>
      <br>







    <%= yield %>
  </body>
</html>
