<!DOCTYPE html>
<html>
  <head>
    <title>Module2FinalProject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">LOGO</a>
      <form class="form-inline">
      <div style="padding-left: 10px;">
        <a class="button" href="/logout" data-method="delete" role="button">
        Logout
        </a>
      </div>
      </form>
      </nav>



    <%= yield %>
  </body>
</html>
